.navbar-default {
	background: -webkit-linear-gradient(#88a6af, #738c94);
	background: -o-linear-gradient(#88a6af, #738c94);
	background: -moz-linear-gradient(#88a6af, #738c94);
	background: linear-gradient(#88a6af, #738c94);
	background-color: #88a6af;
	border-color: #d9cdb8;
	border: 0px;
	border-radius: 0px;
	color: #f5f2eb !important;
}



#iconwrap{
  margin-top:12px;
}
#add{
  margin-left: 15px;
}

#add:hover {
  cursor: pointer;
  color: black;
	box-shadow: none;
}

.navbar-default .navbar-brand:hover {
color: #333 !important;
}

.colorPick{
  width: 100%;
  height: 20px;
}

.header a, h4 {
	color: #f5f2eb;
}

.navbar-default .navbar-brand{
  color: #f5f2eb;
}

.navbar-default .navbar-nav > li > a{
  color: #f5f2eb;
}


.repoAddress {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 19px;
  float: left;
}

.header .nav-pills{
	line-height: initial;
}

.header .nav-pills .btn-group{
    bottom: 3px;
}

.header .nav-pills a:hover {
    color: #435a66;
}

.header,
.footer {
  margin: 0 auto;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #738c94;
  height: 55px;
}

.header .navbar-text {
  margin-top: 10px;
  color: #435a66;
}

.header .navbar-header {
  margin-right: 1px;
}

.header .navbar-brand {
  font-size: 25px;
}

.header ul {
  margin-top: 10px;
}

.textFilter {
  margin: 0;
}

.header li {
  margin-left: 5px;
  margin-right: 5px;
  max-width:150px;
}

.header li#login{
  top:-5px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-bottom: 0;
  padding-bottom: 19px;
}


@media (min-width: 380px) and (max-width: 767px){
  .header{
  	height: auto;
  }
  .header li {
  	float:left;
  }

  .header ul {
  	float:right;
  }

  .header .navbar-header::after{
  	clear:none;
  }
}


.navbar-default .navbar-nav #iconwrap .dropdown-menu > li > a {
  color: #333;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a {
  color: #555;
  background-color: rgba(231, 231, 231, 0) !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #333;
}