.navbar-default {
	background: -webkit-linear-gradient(#88a6af, #738c94);
	background: -o-linear-gradient(#88a6af, #738c94);
	background: -moz-linear-gradient(#88a6af, #738c94);
	background: linear-gradient(#88a6af, #738c94);
	background-color: #88a6af;
	border-color: #d9cdb8;
	border: 0px;
	border-radius: 0px;
	color: #f5f2eb;
}


.header .fa-2x {
	margin-top: 7px;
}

.header .btn-group.open #add {
	box-shadow: none;
	-webkit-filter: Invert(100%);
}

.header a, h4 {
	color: #f5f2eb;
}

.header .navbar-header .navbar-brand {
	color: #f5f2eb;
	line-height: 25px
}

.repoAddress {
  margin-left: 10px;
  margin-top: 19px;
  float: left;
}

.header .nav-pills{
	line-height: initial;
}

.header .nav-pills .btn-group{
    bottom: 3px;
}

.header .nav-pills a:hover {
    color: #435a66;
}

.header .nav-pills > li.active > a{
	background-color: #eee;
	color: #435a66;
}

.header,
.footer {
  margin: 0 auto;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #738c94;
  height: 55px;
}

.header .navbar-text {
  margin-top: 10px;
  color: #435a66;
}

.header .navbar-header {
  margin-right: 1px;
}

.header .navbar-brand {
  font-size: 25px;
}

.header ul {
  margin-top: 10px;
}

.textFilter {
  margin: 0;
}

.header li {
  margin-left: 5px;
  max-width:150px;
}

.header li#login{
  top:-5px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-bottom: 0;
  padding-bottom: 19px;
}


@media (min-width: 380px) and (max-width: 767px){
  .header{
  	height: auto;
  }
  .header li {
  	float:left;
  }

  .header ul {
  	float:right;
  }

  .header .navbar-header::after{
  	clear:none;
  }
}
