.navbar-default {
	background-color: #ff8500;
	border-color: #D97330;
}

.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #C4682B;
}

.header .navbar-text {
  margin-top: 10px;
}

.header .navbar-header {
  margin-right: 40px;
}

.header .navbar-brand {
  font-size: 25px;
}

.header ul {
  margin-top: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-bottom: 0;
  padding-bottom: 19px;
}