
.repolist {
  height: 80%;
  overflow-y: scroll;
}

.backlog.issue {
  background-color: #f5f2eb;
}

.issue{
  border: 1px solid rgba(42,44,43,0.5);
  border-radius: 5px;
  padding: 0px;
  width:100%;
  min-height:100px;
  margin-bottom:20px;
  position:relative;
  word-wrap:break-word;
  cursor: pointer;
}

.issue p {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


.issue hr {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  border-width: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px solid rgba(42,44,43,0.5);
}

.issue hr.highlight {
  border-top: 1px solid #435a66;
}

.issue.highlight {
  border: 1px solid #435a66;
  background-color: #E5E3DC;
}


.column .navbar-fixed-top {
	left: auto;
	right: auto;
	top: auto;
  margin-top: -20px;
	width: 22%;
	background: #f5f2eb;
	z-index: 1;
}

.column .issueboxes{
	padding-top: 40px;
}

.backlog{
}

.ready{
}

.inprogres{
}

.done{
}

.assigneeDropdown{
  position: absolute;
  right: -5px; 
  top: -5px;
}

.assigneeDropdown ul{
  left:-180px;
  top: 35px;
}

#assignee{
  position: absolute;
  right: 8px; 
  top: 5px;
  padding: 5px;
  font-size: 20px;
  color: rgba(42,44,43,0.5);
}

#assignee:hover {
  color: rgba(42,44,43,0.8);
}

.navbar-fixed-top{
  border-bottom:1px solid rgba(42,44,43,0.5);
}


#editCog{
  position: absolute;
  right: 2px; 
  bottom: 2px;
  padding: 5px;
  font-size: 15px;
  color: rgba(42,44,43,0.5);
}

#editCog:hover {
  color: rgba(42,44,43,0.8);
}

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.column{
  float:left;
  width:25%;
  padding-left: 2%;
  padding-right: 2%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainCol{
  margin-left: -2%;
}

.avatar-img {
  border: 2px solid rgba(42,44,43,0.5);
  border-radius: 20px;
}

.avatar-img:hover {
  border: 2px solid rgba(42,44,43,0.8);
  border-radius: 20px;
}

.column img{
  width:40px;
  height:40px;
  position: absolute;
  right: -5px; 
  top: -5px;
}

.issueview{
  padding-top: 80px;
  width:100%;
  height:100%;
  max-height:100%;
  position:absolute;
}

.listview{
  padding-top: 80px;
}

.multilabel{
  width:100%;
  float:left;
}

.multilabel ul{
  width:100%;
}

.multilabel button{
  text-align:left;

}
