

.issue{
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 20px;
  width:300px;
  min-height:100px;
  margin-bottom:20px;
  position:relative;
  word-wrap:break-word;
}

.viewbar{
  margin-left:20px;
  margin-right:20px;
  text-align:center;
  padding-bottom: 10px;
  margin-bottom:10px;
  border-bottom: 1px solid #e5e5e5;
}

.issue.highlight {
  outline: solid;
  outline-color: #0F6B8E;
  border-radius: 0px;
  border: 1px solid #0F6B8E;
}


.backlog{
}

.ready{
}

.inprogres{
}

.done{
}

.column{
  float:left;
  width:300px;
  margin-left:20px;
  margin-right:20px;
}

.column img{
  border: 2px solid;
  width:40px;
  height:40px;
  border-radius: 20px;
  position: absolute;
  right: -10px; 
  top: -10px
}

.vertical{
  width: 1px;
  float:left;
  color: #777;
  border-left: 1px solid #e5e5e5;
  height:100%;
  margin: 0 auto;
}

.issueview{
  width:80%;
  height:100%;
  position:absolute;
  margin-left:10%;
}

.mainview{
  width:80%;
  height:100%;
  position:absolute;
  margin-left:10%;
}
