@import "header.css";
@import "issueboard.css";
@import "angular-multi-select.css";

/* Space out content a bit */
body {
  height:100%;
  width:100%;
  background-color: #f5f2eb;
  color: #000000;
  overflow: hidden;
}

.listview{
  padding-top: 80px;
  height: 100vh;
  overflow-y: scroll;
}

.repolist .list-group-item.active:hover{
  background-color: #E5E3DC;
  border: 1px solid rgba(42,44,43,0.5);
  color: inherit;
}

.repolist .list-group-item.active:hover .list-group-item-text{
  color: inherit;
}
.mainview{
  padding-top: 80px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.dropdown-menu{
    padding-left: 5px; 
    padding-right: 5px;
}

.dropdown-menu{
  
}

.dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}

@media (min-width: 768px) {
  .dlhorizontal dt {
    float: left;
    width: 180px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .dlhorizontal dd {
    margin-left: 220px;
    word-wrap: break-word;
  }
}

.issuecomments{
  padding-top: 40px;
}