<div class="modal-header">
  <h3>Create a new issue</h3>
</div>

<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="title">Title</label>
      <div class="col-sm-9">
        <input id="issue.title" type="text" class="form-control" ng-model="issue.title" placeholder="Title (required)"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="text">Text</label>
      <div class="col-sm-9">
        <textarea id="issue.body" class="form-control" ng-model="issue.body" placeholder="Body" rows="5"></textarea>
      </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="text">Milestone</label>
        <div class="col-sm-9">
          <select class="form-control milestones" ng-model="issue.milestone" ng-options="milestone.title for milestone in milestones">
            <option value="">--Select--</option>
          </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label" for="text" style="top:22px">Labels</label>
        <div class="col-sm-9">
          <labelmultiselect class="input-lg" multiple="true" ms-selected ="--Select--" 
              ng-model="issue.labels" ms-header="--Select--"
              options="label.name for label in labels|filter: '!state:'"
              change="">
          </labelmultiselect>
        </div>
      </div>
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" id="create-issue" ng-click="addIssue()" ng-disabled="!issue.title">Create</button>
  <button class="btn btn-warning" ng-click="close()">Cancel</button>
</div>
