<div class="row listview">
  <div class="col-md-6 col-md-offset-3" ng-controller="ListCtrl">
  	<input class ="owner form-control" ng-model="owner" placeholder="Owner">
  	<input class ="repo form-control" ng-model="repo" placeholder="Repo">
  	<h4><a ng-href="#/repos/{{owner}}/{{repo}}" ng-hide="!owner.length || !repo.length" id ="searchlink">{{owner}}/{{repo}}</a></h4>
    <div class="list-group repolist">
      <a href="#/repos/{{repo.owner.login}}/{{repo.name}}" class="list-group-item" ng-repeat="repo in repos" ng-class="{active: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
       <h4 class="list-group-item-heading">{{repo.name}}</h4>
       <p class="list-group-item-text">{{repo.description}}</p>
      </a>
    </div>
  </div>
</div>
