<div class="modal-header">
  <h3>Create a new issue</h3>
</div>

<div class="modal-body">
  <form role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="title">Title</label>
      <div class="col-sm-10">
        <input id="issue.title" type="text" class="form-control" ng-model="issue.title" placeholder="Title" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="text">Text</label>
      <div class="col-sm-10">
        <textarea id="issue.body" class="form-control" ng-model="issue.body" placeholder="Body" rows="5"></textarea>
      </div>
    </div>
  <form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" id="create-issue" ng-click="addIssue()">Create</button>
  <button class="btn btn-warning" ng-click="close()">Cancel</button>

</div>
