
 <div class="modal-header">
     <h3>Edit Issue</h3>
 </div>
 <div class="modal-body">
 	<form role="form" class="form-horizontal">
	    <div class="form-group">
		    <label class="col-sm-2 control-label" for="text">Edit text</label>
		    <div class="col-sm-9">
		    	<textarea class="form-control" rows="5" ng-model="issue.body">{{issue.body}}</textarea>
		    </div>
	    </div>
	    <div class="form-group">
	    	<label class="col-sm-2 control-label" for="text">Change milestone</label>
	    	<div class="col-sm-9">
		    	<select class="form-control milestones" ng-model="issue.milestone" ng-options="milestone.title for milestone in milestones">
		    		<option value="">--Select--</option>
		    	</select>
	    	</div>
	    </div>
	    <div class="form-group">
	    	<label class="col-sm-2 control-label" for="text">Change labels</label>
	    	<div class="col-sm-9">
		    	<select class="form-control labels" ng-model="issue.labels" ng-options="label.name for label in labels">
		    		<option value="">--Select--</option>
		    	</select>
	    	</div>
	    </div>
	    <accordion>
	    	<accordion-group is-open="open">
		    	<accordion-heading>
	            	Comments <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
	        	</accordion-heading>
	    		<div class="form-group">
		    		<label class="col-sm-2 control-label" for="text">New:  </label>
		    		<div class="col-sm-10">
			    		<textarea class="form-control" rows="2" ng-model="body"></textarea>
			    		<button id="comment" class="btn btn-primary" ng-click="newComment(body)">Comment!</button>
			    	</div>
		    	</div>
	    		<div ng-repeat="comment in comments">
	    			<label class="col-sm-2 control-label" for="text">{{comment.user.login}}</label>
	    			<div class="col-sm-10">
	    				<p class="form-control" id="comment_body">{{comment.body}}</p>
	    			</div>
	    		</div>
	    	</accordion-group>
		</accordion>
 	</form>
 </div>
 <div class="modal-footer">
 	<button id="submit" class="btn btn-primary" ng-click="doneEditing(issue,[{{issue.milestone}}],[{{issue.labels}}])">Edit</button>
    <button id="newlabel-close" class="btn btn-warning" ng-click="cancelEditing(issue,[{{issue.milestone}}],[{{issue.labels}}])">Cancel</button>
 </div>
