
 <div class="modal-header">
     <h3>Edit Issue</h3>
     <a ref ng-click="closeIssue(issue)">Close This Issue</a>
 </div>
 <div class="modal-body">
 	<form role="form" class="form-horizontal">
 		<div class="form-group">
		    <label class="col-sm-2 control-label" for="text">Edit title</label>
		    <div class="col-sm-9">
		    	<input type="text" class="form-control" ng-model="editissue.title" title="{{editissue.title}}"></input>
		    </div>
	    </div>
	    <div class="form-group">
		    <label class="col-sm-2 control-label" style="top:33px" for="text">Edit text</label>
		    <div class="col-sm-9">
		    	<textarea class="form-control" rows="5" ng-model="editissue.body">{{editissue.body}}</textarea>
		    </div>
	    </div>
	    <div class="form-group">
	    	<label class="col-sm-2 control-label" style="bottom: 12px" for="text">Change milestone</label>
		    <div class="btn-group col-sm-9" dropdown is-open="status.isopen">
		    	<button id="mstonemenu" type="button" class="btn btn-default dropdown-toggle form-control" 
		    	   ng-disabled="disabled" style="text-align:left">
		        	{{editissue.milestone.title || "No milestone selected"}}
		        	<span class="caret"></span>
		      	</button>
		      	<ul class="dropdown-menu col-sm-11" role="menu" style="left:15px">
		      		<li><a class="mstoneoption" href ng-click="editissue.milestone = null">Clear milestone</a></li>
		        	<li ng-hide="!milestones.length" class="divider"></li>
		        	<li ng-repeat="milestone in milestones">
		        		<a class="mstoneoption" href ng-click="editissue.milestone = milestone; status.isopen = false">{{milestone.title}}</a>
		        	</li>
		      	</ul>
			</div>
		</div>
	    <div class="form-group">
	    	<label class="col-sm-2 control-label" style="top: 12px" for="text">Change labels</label>
	    	<div class="col-sm-9">
		    	<labelmultiselect class="input-lg" multiple="true" ms-selected ="--Select--" 
		        	ng-model="editissue.labels" ms-header="--Select--"
		        	options="label.name for label in labels| filter: '!state:'"
		        	change="">
		    	</labelmultiselect>
	    	</div>
	    </div>
	    
	    <accordion>
	    	<accordion-group is-open="open">
		    	<accordion-heading>
	            	Comments <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open, 'glyphicon-chevron-right': !open}"></i>
	        	</accordion-heading>

                
	    		<div class="form-group">
		    		    <div class="col-sm-12">
			    		<textarea class="form-control" rows="2" ng-model="data.body"></textarea>
			    		
			    		</div>
				</div>
		    	<button id="comment" class="btn btn-primary" ng-disabled="!data.body" ng-click="newComment(data.body)">Comment!</button>
		    
		    <br>
		    <!-- Comments -->
		    <div class="issuecomments">
	    		<div ng-repeat="comment in comments | orderBy:'-created_at' | limitTo: 10 ">
	    			<dl class="dlhorizontal">
	    			  <img ng-src="{{comment.user.avatar_url}}" ng-hide="!comment.user.avatar_url.length" class="avatar-img hidden-xs">
					  <dt>{{comment.user.login}}</dt>
					  <dt id="timestamp" >{{comment.created_at | date:'dd.MM.yyyy HH:mm' }}</dt>
					  <dd  id="comment_body" >{{comment.body}}</dd>
					</dl>
	    		</div>
	    	</div>
	    	</accordion-group>
		</accordion>
 	</form>
 </div>
 <div class="modal-footer">
 	<button id="submit" class="btn btn-primary" ng-click="doneEditing(editissue)">Done</button>
    <button id="editlabel-close" class="btn btn-warning" ng-click="cancelEditing(editissue)">Cancel</button>
 </div>
