<div class="header navbar navbar-default">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a class="navbar-brand">Haitari</a>
            <h4 ng-if="currentState == 'repository'" class="repoAddress">
                {{params.owner}}/{{params.repoName}}
            </h4>
        </div>
        
        <div>
          <ul class="nav navbar-nav" ng-if="currentState == 'repository'">
            <li>
              <select ng-controller="IssueboardCtrl" class="form-control" ui-select2 id="create" ng-model="choice" ng-click="openModal(choice)" ng-options="option as option for option in createOptions">
                  <option value>--Select Action--</option>
              </select>
            </li>
            <li ng-controller="IssueboardCtrl">
              <div ui-view="multiselect" />
            </li>
          </ul>
          <ul class="nav nav-pills navbar-right" ng-controller="LoginCtrl">
            <li ng-class="{'active': getClass('/main')}">
              <a id="home" ui-sref="main">Home</a>
            </li>
            <li id="list" ng-if="isLoggedIn" ng-class="{'active': getClass('/list')}">
              <a ui-sref="list">List</a>
            </li>
            <li ng-if="currentState == 'burndown'">
              <a ui-sref="repository(params)">Repository</a>
            </li>
            <li ng-if="currentState == 'repository'">
              <a ui-sref="burndown(params)">Burndown</a>
            </li>
            <li id="logout" ng-if="isLoggedIn" ng-class="{'active': getClass('/logout')}">
             
             <p ng-if="isLoggedIn" class="navbar-text"><img ng-if="isLoggedIn" width="28" height="28" class="avatar-img" ng-src="{{avatar}}"/> (<a ui-sref="logout" class="">Sign out</a>)</p>
            </li>
            <li id="login" ng-if="!isLoggedIn" ng-class="{'active': getClass('/login')}">
              <a href="#" class="login-button" ng-click="signin()">Login <i style="font-size: 1.5em;" class="fa fa-github separator"></i></a>
            </li>
          </ul>         
        </div>
    </div>   
</div>
