<div class="header navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a class="navbar-brand" id="home" ui-sref="main" ng-class="{'active': getClass('/main')}">Haitari</a>
            <h4 ng-if="currentState == 'repository'" class="repoAddress">
                {{params.owner}}/{{params.repoName}}
            </h4>
        </div>
        <div>
          <ul class="nav navbar-nav" ng-if="currentState == 'repository'">
            <li>
              <div class="btn-group" dropdown>
                <i id="add" class="fa fa-plus-circle fa-2x dropdown-toggle"></i>
                <ul id="create" class="dropdown-menu" role="menu" ng-controller="IssueboardCtrl">
                  <li ng-repeat="option in createOptions">
                    <a id="{{option}}" href ng-click="openModal(option)" >{{option}}</a>
                  </li>
                </ul>
              </div>
            </li>
            <li ng-controller="IssueboardCtrl">
              <div ui-view="multiselect" />
            </li>
            <li>
              <input class ="textFilter form-control"
              ng-model="filters.textFilter" ng-change="textFilterChanged()" placeholder="Filter">
            </li>
          </ul>
          <ul class="nav nav-pills navbar-right" ng-controller="LoginCtrl">
            <li id="list" ng-if="isLoggedIn" ng-class="{'active': getClass('/list')}">
              <a ui-sref="list">List</a>
            </li>
            <li ng-if="currentState == 'burndown'">
              <a ui-sref="repository(params)">Repository</a>
            </li>
            <li ng-if="currentState == 'repository'">
              <a ui-sref="burndown(params)">Burndown</a>
            </li>
            <li id="logout" ng-if="isLoggedIn" ng-class="{'active': getClass('/logout')}">
              <div class="btn-group">
                <p type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                  <img ng-if="isLoggedIn" width="28" height="28" class="avatar-img" ng-src="{{avatar}}"/> 
                </p>
                <ul class="dropdown-menu" role="menu">
                  <li><a ui-sref="logout">Sign out</a></li>
                </ul>
              </div>
            </li>
            <li id="login" ng-if="!isLoggedIn" ng-class="{'active': getClass('/login')}">
              <a href="#" class="login-button" ng-click="signin()">Login <i style="font-size: 1.5em;" class="fa fa-github separator"></i></a>
            </li>
          </ul>         
        </div>
    </div>   
</div>
