<div class="modal-header">
    <h3>Create a new label</h3>
</div>
<div class="modal-body">
    <div>
        Here you can create a label: 
        <input type="text" ng-model="createlabel.name" rows="1" cols="10" placeholder="Label name">
        <button id="sendlabel" class="btn btn-primary" ng-click="createLabel(createlabel)">Create label</button>
    </div>
    <div>
        Here you can delete a label:
        <select ng-model="delLabel" ng-options="label.name as label.name for label in labels"></select>
        <button id="delLabel" class="btn btn-danger" ng-click="deleteLabel(delLabel)">Delete</button>
    </div>
</div>
<div class="modal-footer">
    <button id="newlabel-close" class="btn btn-warning" ng-click="close()">Cancel</button>
</div>