<div ng-controller="IssuesCtrl" class ="issueview">

  <p>This is the issueboard view.</p>

  <p> Owner is:<b> {{owner}}</b> </p>
  <p> Repository is: <b>{{repoName}}</b> </p>

  <div class="column" style="float:left">
	<div ng-repeat="issue in issues | filter:{labels :'!Ready'} | filter:{labels :'!Inprogress'} | filter:{labels :'!Done'}" class="backlog issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p><b>{{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

  <div class="vertical"></div>

  <div class="column" style="float:left">
	<div ng-repeat="issue in issues | filter:{labels :'Ready'}" class="ready issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p><b>{{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

  <div class="vertical"></div>

  <div class="column" style="float:left">
	<div ng-repeat="issue in issues | filter:{labels :'InProgress'}" class="inprogres issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p></b>{{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

  <div class="vertical"></div>

  <div class="column" style="float:left">
	<div ng-repeat="issue in issues | filter:{labels :'Done'}" class="done issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p><b>{{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

</div>
