<div ng-controller="IssuesCtrl" class ="issueview">

  <div class="viewbar">
	  <p> Owner:<b> {{owner}}</b> Repository: <b>{{repoName}}</b> </p>
        Select issues based on a milestone
        <select ng-init="sprint.milestone = null" ng-model="sprint.milestone" ng-options="milestone.title as milestone.title for milestone in milestones">
            <option value="">Not in a milestone</option>
        </select>
  </div>

  <div class="column">
	<p><b>Backlog</b></p>
	<div ng-repeat="issue in issues | filter:{labels :'!Ready'} | filter:{labels :'!Inprogress'} | filter:{labels :'!Done'}" class="backlog issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p><b> #{{issue.number}} {{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

  <div class="vertical"></div>

  <div class="column">
	<p><b>Ready</b></p>
	<div ng-repeat="issue in issues | filter:{labels :'Ready'}| filter:sprint:true" class="ready issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p><b> #{{issue.number}} {{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

  <div class="vertical"></div>

  <div class="column">
	<p><b>In Progress</b></p>
	<div ng-repeat="issue in issues | filter:{labels :'Ready'}| filter:sprint:true" class="inprogres issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p><b> #{{issue.number}} {{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

  <div class="vertical"></div>

  <div class="column">
	<p><b>Done</b></p>
	<div ng-repeat="issue in issues | filter:{labels :'Ready'}| filter:sprint:true" class="done issue">
	  <img src="{{issue.user.avatar_url}}">
	  <p><b> #{{issue.number}} {{issue.title}}</b></p>
	  <p>{{issue.body}}</p>
	</div>
  </div>

</div>
