<p>This is the issueboard view.</p>

<p> Owner is:<b> {{owner}}</b> </p>
<p> Repository is: <b>{{repoName}}</b> </p>


<div>
  <div class="backlog" style="float:left">
	<div ng-repeat="issue in issuet">
	  <p>{{issue.title}}</p>
	</div>
  </div>

  <div class="column1" style="float:left">
	<div ng-repeat="issue in issuet | filter:{labels :'Ready'}">
	  <p>{{issue.title}}</p>
	</div>
  </div>

  <div class="column2" style="float:left">
	<div ng-repeat="issue in issuet | filter:{labels :'InProgress'}">
	  <p>{{issue.title}}</p>
	</div>
  </div>

  <div class="column3" style="float:left">
	<div ng-repeat="issue in issuet | filter:{labels :'Done'}">
	  <p>{{issue.title}}</p>
	</div>
  </div>
</div>
  

<div>
  <textarea ng-model="issueTitle"></textarea>
    <button ng-click="addIssue()">Add issue</button>
</div>

</div>
